<div class="card text-white bg-info mb-3 container _card " >
  <table>
    <tr>
      <th class="head"> Roll No</th>
      <th class="head"> Name</th>
      <th class="head"> Maths</th> 
      <th class="head"> English</th>
      <th class="head"> Date</th>
      <th class="head" > Operations</th>
    </tr>
    <tr *ngFor="let data of datas">
      <td>{{data.roll}}</td>
      <td>{{data.name}}</td>
      <td>{{data.maths}}</td>
      <td>{{data.english}}</td>
      <td>{{data.date}}</td>
      <td><button   class=" operation"mat-raised-button  (click)="onEdit(data)">Edit</button>
      <button  class=" operation" mat-raised-button (click)="onDelete(data)">Delete</button></td><br>   <br>
    </tr>
  </table>
  <button  (click)="onCreate()" class="btn btn-light col-md-3 mt-md-0 mt-2  text-md-center _button ">New</button>
</div >
<router-outlet></router-outlet>